body {
  border: 0;
  padding: 0;
  margin: 0;  }

.cabecalho {
  padding-top: 25px;
  background-color:#232323; 
  width: 100%; 
  height: 65px;
  margin: 0;}
  
.conteiner {
  max-width: 1205px;
  margin: 0; }
 
.conteiner span {
  float: left;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-left: 150px;
  cursor: pointer;}

ul li {
  color: white;
  display: inline;
  margin-left: 20px;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.cabecalho nav {
  float: right; 
  margin: -10px;
  margin-right: 0px; }
    
li:hover {
  list-style: none; 
  cursor: pointer;
  background-color: rgb(181, 146, 81);}

.laranja_aba  {
  font-size: 17px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 81, 0); }

.laranja_tit {
  color: rgb(255, 81, 0);
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.apresentacao {
  text-align: center;
  background-size: cover;
  background-image: url("./team.png");
  background-repeat: no-repeat;
  min-height: 400px;
  color: rgb(255, 81, 0);}

.apresentacao p {
  padding-top: 40px;
  font-size: 20px;
  margin: 50px;
  margin-left: 150px;
  color: white;}

.container .apresentacao_titulo {
  padding-top: 50px;
  font-size: 50px;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

input {
  min-height: 25px;
  width:230px ;} 
  
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:  rgb(255, 81, 0);
  padding: 10px 24px;
  font-size: 13px;
  color: white;
  min-height: 30px;
  min-width:75px ;
  margin: 8px;
  border-color: rgb(255, 81, 0); 
   ;}

img{
 max-height: 130px;
 max-width: 130px;
 margin: 15px;
 padding-top: 40px;
 padding-left: 150px;
 cursor: pointer;}

.texto{
 padding-left: 50px;}

.float {
 float: left;}

.end_page {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: 15px;
 padding-top: 15px;
 background-color: rgb(255, 81, 0); 
 width: 100%; 
 height: 50px;
 margin: 0px;
 text-align: center;
}

