body {
    border: 0;
    padding: 0;
    margin: 0;  }

.cabecalho {
    padding-top: 25px;
    background: rgba(0, 0, 0, 0.878);
    width: 100%;
    height: 65px;
    margin: 0;
    
  }

  .conteiner {
    max-width: 1020px;
    margin: 0 auto;
  }

  span {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

  }

  ul li {
color: white;
display: inline;
margin-left: 20px;
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

  .cabecalho nav {
float: right; 
margin: -10px;
}
    
  li {
list-style: none; 
}

  .laranja_aba  {
font-size: 18px; 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(255, 81, 0); 
}

  .laranja_tit {
color: rgb(255, 81, 0);;
font-size: 23px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

  
  

